.PDF_ICON{
height : 70px;
width : 50px;

}
.bg-theme{
    background-color: #0a4214;
}

.invisible{
    display: none;
}
.hero-background{
    min-height:30vh;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction : column;
  }